nav
    .nav-wrapper
        a.brand-logo.right(href='#') tian.ran
        ul#nav-mobile.left.hide-on-med-and-down
            li
                a(href='Resume') Resume
            li
                a(href='https://www.linkedin.com/in/TianranWang') LinkedIn
            li
                a(href='https://github.com/TianranWang') Github
            li
                a(href='Blogs') Blogs
            li
                a(href='Contact') Contact Me