nav
    .nav-wrapper
        a.brand-logo.right(href='#') tian.ran
        ul#nav-mobile.left.hide-on-med-and-down
            li
                a(href='#' onclick='Materialize.toast("currently not available", 1000)') Resume
            li
                a(href='https://www.linkedin.com/in/TianranWang') LinkedIn
            li
                a(href='https://github.com/TianranWang') Github
            li
                a(href='http://blog.tian.ran.ninja') Blogs
            li
                a(href='#' onclick='Materialize.toast("currently not available", 1000)') Contact Me
