extends ./layout/default
block includes
    include ./components/remote_scripts
block content
    include ./components/nav_bar_top
    .container
        h2.right Hello, I am Tianran 天冉.
        h3.right I am a developer and a traveller.
        h3.right I worked in 5 cities and travelled to 18 cities.
        h3.right I am pursuing a Bachelor's Degree in Computer Science at the University of Waterloo.
        h3.right I worked as an IT support, a game developer, a test automation developer and a full-stack web developer.
        h3.right I am in the co-op program, an intern program in Canada, so I can work while studying. Feel free to contact me. My preferred locations are anywhere in Canada, US, Japan and major cities in China.
